{% extends "::base.html.twig" %}

{% block title %}AcmeSearchBundle:Artists:index{% endblock %}

{% block body %}


    <table class="table table-bordered">
        <tr>
            {% for v in menu  %}
                    <th>{{ v }}</th>

            {% endfor %}
        </tr>


        {# table body #}



            <tr>
                {% for v in data  %}

                        <td>{{v}}</td>

                {% endfor %}

            </tr>


    </table>
    {# display navigation #}


{% endblock %}
