{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}

    <h1>Welcome to the Category:index page</h1>

    <div class="span11">
        <ul>
            {% for rec in records %}
                <li>{{ rec.title }}</li>
            {% endfor %}
        </ul>

        {% if pageNum is defined  %}
            <div class="span4">
                {% for v in pageNum %}
                    <a href="{{ v }}">{{ v }}</a>
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endblock %}
