{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}

    <h1>Welcome to the Category:index page</h1>

    <div class="span5">
        <ul>
            {% for rec in records %}
                <li><a href="/category/{{ rec.id }}">{{ rec.title }}</a></li>
            {% endfor %}
        </ul>

        {% if pageNum is defined  %}
            <div style="padding-left:50%">
                {% for v in pageNum %}
                    <a href="{{ v }}">{{ v }}</a>
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endblock %}
