{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}

    <div class="span5">
        <ul>
            {% for name in res %}
                <li><a href="{{ path('task_show', { 'id': name.id }) }}">{{ name.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}