body {
    font: Arial;
}
html {
    min-width: 1024px;
    min-height: 1024px;


}

#logo {
    width: 334px;
    height: 76px;
   /* outline: 1px solid #000000;*/
    float: left;
}

.navigation-div {

  /*  width: 600px;*/
    height: 76px;
    /*outline: 1px solid #000000;*/
    margin-left: 378px;
    background-color: #e8e4e6;
    text-align: right;
}


span.navigation-link {
   /* outline: 1px solid #000000;*/
    width: 200px;
    height: 40px;
    padding: 25px 20px;
    position: relative;
    top: 28px;
    background-color: #e8e4e6;
    font: arial;
;

}
.header{
    background-color: #e8e4e6;
}

.sound-but {
    height: 134px;
    border: 1px solid #C8C3CA;
    background-image:url('../images/texture.png'); ;
}

.sound-but-left {
margin-left: 16%;


}

.sound-but-right {

    margin-right:16%;
    float: right;

}

.sound-search-area {
    width: 1014px;
    height: 133px;
    outline: 1px solid red;
    position: absolute;
    margin-left: 168px;
}

.sound-left-part {
    width: 27px;
    height: 28px;
    outline: 1px solid red;
    background-image: url('../images/screw_1.png');
    background-repeat:no-repeat;
}


#screw-1-left {

   position: absolute;
    top: 89px;
    left: 11%;

}

#screw-2-left {

    position: absolute;
    top: 177px;
    left: 11%;
}


#screw-1-right{
    position: absolute;
    top: 89px;
    right: 11%;
}


#screw-2-right{

    position: absolute;
    top: 177px;
    right: 11%;
}

#content {
    /*outline: 1px solid #C8C3CA;*/
   /* height: 500px;*/
    margin: 50px 50px;
}

#left-side{

    width: 50%;
   /* height: 300px;*/
    float: left;
    /*outline: 1px solid #C8C3CA;*/


}


#right-side{

    width: 50%;
   /* height: 300px;*/
   /* outline: 1px solid #C8C3CA;*/
    margin-left: 50%;



}

/*
#content-wrapper {

    background-color: #EFEFEF;
}*/
body {
    background-color: #EFEFEF;
}


#content-left{
    /*outline: 1px solid #C8C3CA;*/
    width: 550px;
    height: 700px;
    margin: 0 auto;


}

#content-right{
   /* outline: 1px solid #C8C3CA;*/
    width: 550px;
    height: 700px;
    margin: 0 auto;
}

#popular-playlists {

    height: 50%;
    width: 100%;
    /*outline: 1px solid #C8C3CA;*/

}
#recent-searches {

    height: 50%;
    width: 100%;
   /* outline: 1px solid #C8C3CA;*/

}

.popular-playlists-title {
    outline: 1px solid #C8C3CA;
    padding: 1px 25px;
    background-color: #FAFAFA;
    color: #605462;
    font: 80% Arial;
}

.recent-searches-title {
    outline: 1px solid #C8C3CA;
    padding: 1px 25px;
    background-color: #FAFAFA;
    color: #605462;
    font: 80% Arial;
}

.recent-searches-title-right {
    outline: 1px solid #C8C3CA;
    padding: 1px 25px;
    background-color: #FAFAFA;
    color: #605462;
    font: 80% Arial;

}

.recent-searches-right-info table, .recent-searches-info table {

    width: 100%;
    border: 1px solid #C8C3CA;
    color: #907F92;
    font:80% Arial;
}

.recent-searches-right-info th,td {

    text-align: left;
   /* vertical-align: top;*/

}

.recent-searches-info th,td {

    text-align: left;
    /*vertical-align: top;*/

}

.search-block {

    position: absolute;
   /* outline: 1px solid #000000;*/
    width: 531px;
    height: 133px;
    top: 85px;
    left: 409px;

}

.search-block-small {
    width: 478px;
    height: 70px;
    background-color: #AA9AAD;
    margin: 32px auto;
}
.required {
    display: none;
}

#form_Search {
    position: relative;
    top: -9px;
    left: 346px;
    width:113px ;
    height:35px ;
    background: #E9E9E9;
    color: #AA9AAD;
    font-size: 10pt; /* Размер шрифта в пунктах */
}
#form_task {
    position: relative;
    top: 23px;
    left: 50px;
    width: 274px;
    height: 21px;
}

.white {
    background-color: #FFFFFF;
}

.dark {
    background-color:  #EFEFEF;
}


.recent-searches-info tr {
    height: 30px;
}

.recent-searches-right-info tr {
    height: 30px;
}

.footer{
height: 25px;
background-image: url('../images/texture.png');
    border: 1px solid #C8C3CA;
}


