body {
    font: Arial;
}
html {
    min-width: 1024px;
    min-height: 1024px;


}

#logo {
    width: 334px;
    height: 76px;
   /* outline: 1px solid #000000;*/
    float: left;
}

.navigation-div {

  /*  width: 600px;*/
    height: 76px;
    /*outline: 1px solid #000000;*/
    margin-left: 378px;
    background-color: #e8e4e6;
    text-align: right;
}


span.navigation-link {
   /* outline: 1px solid #000000;*/
    width: 200px;
    height: 40px;
    padding: 25px 20px;
    position: relative;
    top: 28px;
    background-color: #e8e4e6;
    font: arial;
;

}
.header{
    background-color: #e8e4e6;
}

.sound-but {
    height: 134px;
    border: 1px solid #C8C3CA;
    background-image:url('../images/texture.png'); ;
}

.sound-but-left {
margin-left: 16%;


}

.sound-but-right {

    margin-right:16%;
    float: right;

}

.sound-search-area {
    width: 1014px;
    height: 133px;
    outline: 1px solid red;
    position: absolute;
    margin-left: 168px;
}

.sound-left-part {
    width: 27px;
    height: 28px;
    outline: 1px solid red;
    background-image: url('../images/screw_1.png');
    background-repeat:no-repeat;
}


#screw-1-left {

   position: absolute;
    top: 89px;
    left: 11%;

}

#screw-2-left {

    position: absolute;
    top: 177px;
    left: 11%;
}


#screw-1-right{
    position: absolute;
    top: 89px;
    right: 11%;
}


#screw-2-right{

    position: absolute;
    top: 177px;
    right: 11%;
}

#content {
   /* outline: 1px solid #C8C3CA;*/
   /* height: 500px;*/
    margin: 50px 50px;
}

#left-side{

    width: 50%;
   /* height: 300px;*/
    float: left;
    /*outline: 1px solid #C8C3CA;*/


}


#right-side{

    width: 50%;
   /* height: 300px;*/
   /* outline: 1px solid #C8C3CA;*/
    margin-left: 50%;



}

/*
#content-wrapper {

    background-color: #EFEFEF;
}*/
body {
    background-color: #EFEFEF;
}


#content-left{
    /*outline: 1px solid #C8C3CA;*/
    width: 550px;
    height:671px;
    margin: 0 auto;


}

#content-right{
   /* outline: 1px solid #C8C3CA;*/
    width: 550px;
    height: 617px;
    margin: 0 auto;
}

#popular-playlists {

    height: 43%;
    width: 100%;
    /*outline: 1px solid #C8C3CA;*/

}
#recent-searches {

    height: 50%;
    width: 100%;
   /* outline: 1px solid #C8C3CA;*/

}

.popular-playlists-title {
    outline: 1px solid #C8C3CA;
    padding: 1px 25px;
    background-color: #FAFAFA;
    color: #605462;
    font: 80% Arial;
}

.recent-searches-title {
    outline: 1px solid #C8C3CA;
    padding: 1px 25px;
    background-color: #FAFAFA;
    color: #605462;
    font: 80% Arial;
}

.recent-searches-title-right {
    outline: 1px solid #C8C3CA;
    padding: 1px 25px;
    background-color: #FAFAFA;
    color: #605462;
    font: 80% Arial;

}

.recent-searches-right-info table, .recent-searches-info table {

    width: 100%;
    border: 1px solid #C8C3CA;
    color: #907F92;
    font:80% Arial;
}

.recent-searches-right-info th,td {

    text-align: left;
   /* vertical-align: top;*/

}

.recent-searches-info th,td {

    text-align: left;
    /*vertical-align: top;*/

}

.search-block {

    position: absolute;
   /* outline: 1px solid #000000;*/
    width: 531px;
    height: 133px;
    top: 85px;
    left: 409px;

}

.search-block-small {
    width: 478px;
    height: 70px;
    background-color: #AA9AAD;
    margin: 32px auto;
}
.required {
    display: none;
}

#form_Search {
    position: relative;
    top: -9px;
    left: 346px;
    width:113px ;
    height:35px ;
    background: #E9E9E9;
    color: #AA9AAD;
    font-size: 10pt; /* Размер шрифта в пунктах */
}
#form_task {
    position: relative;
    top: 23px;
    left: 50px;
    width: 274px;
    height: 21px;
}

.white {
    background-color: #FFFFFF;
}

.dark {
    background-color:  #EFEFEF;
}


.recent-searches-info tr {
    height: 30px;
}

.recent-searches-right-info tr {
    height: 30px;
}

.footer{
height: 25px;
background-image: url('../images/texture.png');
    border: 1px solid #C8C3CA;
}

.tracks-title {

    height: 134px;
   /* outline: 1px solid  #C8C3CA;*/
    background-image: url('../images/texture.png');
}

.tracks-description {

    /*outline: 1px solid #000000;*/
    width: 35%;
    height: 500px;
    float: left;
    margin-left: 7%;
}

.tracks-list {
   /* outline: 1px solid #000000;*/
    width: 50%;
    margin-left: 50%;

}
#track-info{
    height: 50%;
    width: 100%;
    /*outline: 1px solid #000000;*/
}

#equalizer{
    height: 50%;
    width: 100%;
    /*outline: 1px solid #000000;*/
}

#track-table {

    margin: 0 auto;
    width: 450px;
    outline: 1px solid #C8C3CA;
}

#track-pagination {
   /* outline: 1px solid #000000;*/
    margin-left: 244px;
    width: 230px;
}

#track-title {
    width: 400px;
    border: 1px solid #C8C3CA;
    margin-left: 82px;
    padding: 13px 25px;
    background-color: #FAFAFA;
    color: #605462;
    font: 80% Arial;
}

#track-table th,td {

    text-align: left;
    /* vertical-align: top;*/
    color: #907F92;
    font: 80% Arial;
    padding: 6px;
   /* border: 1px solid #C8C3CA;*/

}

.tracks a {
    color:  #605462;
    font: 100% Arial;
}


.pagination a {
    padding: 3px;
    text-decoration: none;
    color: #605462;;
    font: 100% Arial;
}

#left-tracks-title{

    /*border: 1px solid #000000;*/
    width: 45%;float: left;
    height: 134px;
    border-bottom: 1px solid #C8C3CA;

}



#right-tracks-title{

   /* border: 1px solid #000000;*/
    width: 28%;
    float: right;
    height: 134px;
    border-bottom: 1px solid #C8C3CA;
}


#center-tracks-title {

    border-bottom: 1px solid #C8C3CA;
    width: 26%;
    height: 134px;
    margin-left: 45%;
 /*   background-color: #F1EFF1;*/
    background-image: url("../images/texture-white.gif");
    border-right:1px solid #C8C3CA;
    border-left:1px solid #C8C3CA ;
}


#track-image-screw1 {


    margin: 7% auto;
}
#track-image-screw2 {

    margin: 26% auto;
}

#center-tracks-title form #form_Search {

    display: none;

}

#center-tracks-title form #form_task{

    border: 3px solid #B681C0;
    margin: 48px 23px;
    padding: 6px;
    position: static;
    width: 80%;


}

#track-left-image-screw2 {

    margin-left:81px ;
    margin-top: 13px;
}

#track-radio {

/*    margin: 40px 0;
    outline: 1px solid;*/
}
.tracks-title-wrapper {

 /*   outline: 1px solid;*/
   /* background-image: url("../images/texture-white.png");*/
    margin: 40px 0;
    height: 52px;
    background-color: #F9F9F9;

    text-decoration: none;
    color: #605462;
    font:70% Arial;


}

.tracks-title-wrapper #track-left-image-screw2 {

    text-align: right;
}


.tracks-title-wrapper A, A:visited,A:active {
    color: #605462;
    padding-top: 5px;

}

.tracks-title-wrapper a {
    vertical-align: bottom;
}


.artist-table-content {

    width: 80%;
   /* border: 1px solid #000000;*/
    margin: 5px auto;
}

.artist-table {
    /*border: 1px solid #000000;*/
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.artist-table tr td {

    border: 1px solid #C8C3CA;

}

.artist-table a {

    color: #605462;
    font: 100% Arial;
}

.pagination {

    text-align: center;

}



