{% extends "AcmeSearchBundle::layout.html.twig" %}




{% block tutorial_body %}



<div class="sound-but">

    <img src="/images/screw_1.png" id="screw-1-left">
    <img src="/images/screw_2.png" id="screw-2-left">
    <img src="/images/sound_but_left.png" class=" sound-but-left">


    <div class="search-block">

        <div class="search-block-small">
            {{ form(form) }}
        </div>

    </div>

    <img src="/images/sound_but_right.png" class=" sound-but-right">

    <img src="/images/screw_1.png" id="screw-1-right">
    <img src="/images/screw_2.png" id="screw-2-right">

</div>

<div id="content-wrapper">
    <div id="content">

        <div id="left-side">

            <div id="content-left">

                <div id="popular-playlists">

                    <div class="popular-playlists-title">

                        <p>Popular Playlists</p>


                    </div>

                    <div class="recent-searches-info">

                        <table>

                            <tr>

                                <th >Track Number</th>

                                <th >Disc Name</th>

                                <th>Title</th>

                                <th>Track Length</th>



                            </tr>

                            <tr class="white">

                                <td>Test</td>

                                <td >Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>

                            <tr class="dark">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>

                            <tr class="white">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>

                            <tr  class="dark">

                                <td>Test</td>

                                <td >Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>

                            <tr class="white">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>

                            <tr class="dark">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>

                        </table>


                    </div>

                </div>

                <div id="recent-searches">

                    <div class="recent-searches-title">

                        <p>Recent Searches in All Songs</p>

                    </div>
                    <div class="recent-searches-info">

                        <table>

                            <tr>

                                <th>Track Title</th>

                                <th>Album Name</th>

                                <th>Artists</th>

                                <th>Track Length</th>



                            </tr>

                            <tr class="white">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>
                            <tr class="dark">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>

                            <tr class="white">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>

                            <tr class="dark">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>

                            <tr class="white">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>
                            <tr class="dark">

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                                <td>Test</td>

                            </tr>


                        </table>


                    </div>

                </div>

            </div>

        </div>

        <div id="right-side">

            <div id="content-right">

                <div class="recent-searches-title-right">

                    <p>Recent Searches in All Artists</p>

                </div>

                <div class="recent-searches-right-info">

                    <table>

                        <tr>

                            <th>Track Title</th>

                            <th>Album Name</th>

                            <th>Artists</th>

                            <th>Track Length</th>



                        </tr>

                        <tr class="white">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="dark">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="white">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="dark">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="white">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="dark">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="white">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="dark">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="white">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="dark">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="white">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="dark">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>
                        <tr class="white">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>

                        <tr class="dark">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>
                        <tr class="white">

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                            <td>Test</td>

                        </tr>


                    </table>


                </div>

            </div>



        </div>

        </div>



    </div>
</div>




{% endblock %}

