{% extends "AcmeSearchBundle::layout.html.twig" %}




{% block tutorial_body %}



<div class="sound-but">

    <img src="/images/screw_1.png" id="screw-1-left">
    <img src="/images/screw_2.png" id="screw-2-left">
    <img src="/images/sound_but_left.png" class=" sound-but-left">
    <img src="/images/sound_but_right.png" class=" sound-but-right">

    <img src="/images/screw_1.png" id="screw-1-right">
    <img src="/images/screw_2.png" id="screw-2-right">

</div>

<div id="content-wrapper">
    <div id="content">

        <div id="left-side">

        </div>

        <div id="right-side">

        </div>



    </div>
</div>




{% endblock %}

{#

        <div class="sound-but">
            <div>
                <div class="sound-left-part"></div>
                <div class="sound-but-left"></div>
                <div>
                    <div class="sound-search-area"></div>
                    <div class="sound-but-right"></div>

                </div>#}
