{% extends "TutorialSF2SearchEngineBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block tutorial_body %}

    <div id="content">

        {% include "TutorialSF2SearchEngineBundle:SearchEngine:form.html.twig" with {'form': form} %}

    </div>

{% endblock %}