{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}
    <div class="span5" style="padding-left: 27%">
        {% include "AcmeSearchBundle:Search:form.html.twig" with {'form': form} %}
    </div>



        <div class="span10">
            {% for  key, link in menu %}
                <ul style="list-style-type: none">
                    <li><a href="{{ link }}">{{ key }}</a></li>
                </ul>
            {% endfor %}

        </div>



{% endblock %}


