{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}
    <div class="span5">
        {% include "AcmeSearchBundle:Search:form.html.twig" with {'form': form} %}
    </div>

{% endblock %}