{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block tutorial_body %}
    <div class="span5">
        <div id="content">
            {% include "AcmeSearchBundle:Search:form.html.twig" with {'form': form} %}
            <hr />
            <ul>
                {% if films is defined %}

                    {% for film in films %}

                        <li><a href="playlist/{{ film.id }}">{{ film.title }}</a></li>
                {% else %}

                    <div class="alert">Sorry ^^'</div>
                {% endfor %}

                {% endif %}

                {% if array.title is defined %}

                    {% for key, value in array.title %}

                        <li><a href="playlist/{{ key }}">{{ value }}</a></li>

                    {% endfor %}

                {% endif %}

            </ul>
        </div>
    </div>
{% endblock %}