{% extends "AcmeSearchBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block tutorial_body %}
    <div id="content">
        <a href="{{ path('SearchBundle_search') }}" class="btn">Return</a>
        <hr />
        <ul>
            {% for film in films %}
                <li>
                    {{ film.title }} <br />
                </li>
            {% else %}
                <div class="alert">Sorry ^^'</div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}